# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
JWT_SECRET=b909c15f4604d905cabeaad54e2822fe90101dfb452ac4a44caafd5446429d2cccedbb8eee679ccf5fc950136acc594ae2cbd4ca756fdd7f97cbcbf17e016ae2
JWT_EXPIRES_IN=1d
